#title {
    color: white;

}

#searchBar {
    width: 350px;
}

body {
    font-family: "Lucida Console", "Courier New", monospace;
    text-align: center;
    background-color: green;
}

.playerContainer {
    border-style: solid;
    border-color: white;
    background-color: darkgreen;
    width: 80%;
    margin: 0 auto;
}

.playerName {
    color: white;
    font-size: 22px;
}


.empty-star {
    font-size: 15px;
    color: white;

}

.playerInfo {
    font-size: 15px;
   
}
